.imageSection {
  height: auto;
}

.commentSubmitButton {
  &[data-disabled] {
    background-color: rgba(0, 0, 0, 0);
  }
}

.timelineRoot :nth-last-child(2) {
  &:before {
    margin-bottom: 2.25rem;
  }
}

.item {
  margin-top: 0;
  &:before {
    bottom: calc(var(--mantine-spacing-xl) * -1 + var(--mantine-spacing-md));
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

.itemBullet {
  margin-top: var(--mantine-spacing-md);
}

.phantomTimelineItem {
  display: none;
}

.phantomTimelineItemBullet {
  display: none;
}
