.aside {
  padding: var(--mantine-spacing-md);
}

.dividerTop {
  margin: var(--mantine-spacing-md) calc(-1 * var(--mantine-spacing-md)) 0;
}

.dividerBottom {
  margin: 0 calc(-1 * var(--mantine-spacing-md)) var(--mantine-spacing-md);
}
